@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-image:url(../img/bg-pattern.png);
	font-family: 'Lato', sans-serif;
}

.align-right {
	text-align: right;
}

.navbar {
	background-color: #3e758e;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar ul {
	height: 100%;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.nav-item {
	display: inline;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-item a {
	color: #FFF;
	height: 100%;
	padding: 10px;
	text-decoration: none;
}

.nav-item a:hover {
	background-color: #FFF;
	color: #3e758e;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

h1, h2, h3 {
	font-family: 'Lato Thin', sans-serif;
}

h2, h3, p {
	padding-left: 3px;
	padding-right: 3px;
}

header h1 {
	background-color: #5ac4ab;
	font-size: 64px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 20px;
}

#header-para {
	border-bottom: 2px dotted black;
	padding-bottom: 24px;
	padding-top: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-col {
	max-width: 1000px;
	margin: auto;
	background-color: #5fd854;
	padding-bottom: 15px;
}

.subsection {
	border-bottom: 2px dotted black;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

figure {
	margin: 0px;
}

figcaption {
	font-size: 12px;
	font-style: italic;
}

.subsection figure img {
	padding-top: 20px;
	width: 100%;
}

footer p {
	color: #0a0a0a;
	margin-bottom: 0px;
	font-size: 13px;
	font-style: italic;
}

@media screen and (max-width: 890px) {
	.nav-item {
		display: block;
		font-family: 'Lato Light', sans-serif;
		font-size: 2em;
		text-align: center;
	}
	
	header h1 {
		text-align: center;
	}
	
	h3, h2 {
		font-size: 36px;
	}
	
	figcaption, footer p {
		font-size: 20px;
	}
	
	.subsection p, .main-list p {
		font-size: 24px;
	}
}